/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1004; /* Sit on top */
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: transparent;
  /*background-color: rgb(0, 0, 0);  Fallback color */
  /*background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  transition: all 1s ease-out;
}

@keyframes witdthAnimation {
  from {
    height: 0;
    width: 0;
    left: 50vw;
    top: 50vh;
  }
}

/* :host {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
} */

/* Modal Content */
.modal-content {
  animation: witdthAnimation 2s;
  border: 1px solid green;
  margin: auto;
  width: 80%;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  transition: all 1s ease-out;
  display: none;
  z-index: 1004;
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.8);
}
